{% extends './base.html' %}
{%block content%}
<h1>Create Item Listing</h1>

<form method="POST">
{% csrf_token %}
    {% for field in item_form %}
        <p>
            {{field.label_tag}}
            {{field}}
            
            {%if field.help_text %}
                <small style = "color:grey;">{{field.help_text}}</small>
            {% endif %}
            
            {% for error in field.errors %}
                <p style = "color:red;">{{error}}</p>
            {% endfor %}
        </p>
    {% endfor %}

    <input type="submit" value="Add Item">

</form>

{% endblock content %}