{% extends "./base.html" %}
{% load static %}
{% block content %}
<section class="itemDetail">
	{% if item.owner.email == user.email %}
		<h2>You own this item</h2>
		<a href="{% url 'itemUpdate' item.pk %}"> <button> Update Item </button> </a>
		<a href="{% url 'itemDelete' item.pk %}"> <button> Delete Item </button> </a>
		
		{% else %}
			<a href="{% url 'itemPurchase' item.pk %}"><button> Buy Item </button></a>
	{% endif %}
   <h1> Owner: {{item.owner }} <br> Item: {{ item.title }} </h1>
   <br>
   <img src="/static/authentication/{{item.filename}} " />
   <br>
   <p>
      Description:
      {{ item.description }}
   </p>
   <br>
   Price:
   {{ item.price }} $
   <br><br>
   
   {% if user.is_authenticated %}  
   <form action="{% url 'like_item' item.pk %}" method="POST"> 
   {% csrf_token %}
		<button type="sumbit", name="item_pk",value="{{ item.pk }}">
		{%if item.total_likes == 1 %}
			{{item.total_likes}} like 
	    {% elif item.total_likes == 0 %}
			0 likes 
		{% else %}
			{{item.total_likes }} likes
	    {% endif %}
		</button>
	</form> 
   {% else %}
		<p>
	   {%if item.total_likes == 1 %}
			{{item.total_likes}} like
	   {%elif item.total_likes == 0 %}
			0 likes 
		{% else %}
			{{item.total_likes}} likes 
	   {% endif %}
	   </p>
   {% endif %}
</section>

<section class="comments">
	<h2> Comments </h2>
	{% if user.is_authenticated %} 
	<a href="{% url 'add_comment' item.pk %}"> <button> Comment </button> </a>
	{% else %}
	<a href="{% url 'login' %}"> <button> Sign in to interact </button> </a>
	{% endif %}
	<!-- Check if there are comments -->
	{% if not item.comments.all %}
		<p> No comments, Add one </p>
	{% else %}
		<!-- If there are comment display -->
		{%for comment in item.comments.all%}
			<section class="comments">
			<h3> {{ comment.author }} -  {{ comment.pub_date }} </h3>
			<p> {{ comment.text }}  <br><br> Replies:</p>
			{% if user.is_authenticated %} 
			 <a href="{% url 'add_reply' comment.pk %}"> <button> Reply </button> </a>
			{% endif %}
			{% if comment.replies.all %}
				{%for reply in comment.replies.all%}
					<section class="comments">
						<h4> {{ reply.author }} - {{ reply.pub_date }} </h4>
						<p> {{ reply.text }}  </p>
					</section>
				{%endfor%}
			{%endif%}
			</section>
		{% endfor %}
{%endif%}
</section>
{% endblock %}